* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,ul,li {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-size: 12px;
  font-family: helvetica, arial, sans-serif;
    overflow: hidden;

}

#wrapper {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #ccc;
  overflow: hidden;
  -ms-touch-action: none;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 120000px;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

#scroller ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.pano {
  height: 100%;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center center;
  -webkit-box-shadow: inset 0 0 25px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 25px rgba(0,0,0,0.8);
}
.pano_1 {
  background-image: url('../img/bg1.2.jpg');
}
.pano_2 {
  background-image: url('../img/bg2.2.jpg');
}
.pano_3 {
  background-image: url('../img/bg3.2.jpg');
}

/*---------------------------------*/

.pano_2-1 {
     background-image: url('../img2/bg1.jpg');
 }
.pano_2-2 {
    background-image: url('../img2/bg2.jpg');
}
.pano_2-3 {
    background-image: url('../img2/bg3.jpg');
}

.pano_2-4 {
    background-image: url('../img2/bg4.jpg');
}
.pano_2-5 {
    background-image: url('../img2/bg5.jpg');
}
.pano_2-6 {
    background-image: url('../img2/bg6.jpg');
}

/*--------------------------------*/

#map_canvas {
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: 10;
  width: 25%;
  height: 180px;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

/*---------------------*/

.b-navigation {
    position: absolute;
    z-index: 11111;
    top: 40%;
    right: 0;
    width: 340px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px;
}

.b-navigation__control {
    background: url("../img/info-box-arrows.png") no-repeat 12px 37px rgba(0, 0, 0, 0.9);
    width: 41px;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    left: -41px;
    top: 0;
    border-radius: 3px 0  0 3px;

}

.b-navigation__a {
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding: 5px;

}
.b-navigation__a:hover {
    text-decoration: none;
}
.b-navigation__a_active {

    color: #ea7200;
    font-weight: bold;
}
/*.b-navigation_state_hide*/

.b-navigation_state_hide {
    right: -340px;
}

.b-navigation_state_hide .b-navigation__control {
    background: url("../img/info-box-arrows.png") no-repeat 9px -114px rgba(0, 0, 0, 0.9);
}