$b-card-payments__webmoney_sprite_x = 112px;
$b-card-payments__webmoney_sprite_y = 29px;
$b-card-payments__webmoney_sprite_offset_x = -112px;
$b-card-payments__webmoney_sprite_offset_y = -29px;
$b-card-payments__webmoney_sprite_width = 22px;
$b-card-payments__webmoney_sprite_height = 21px;
$b-card-payments__webmoney_sprite = 112px 29px -112px -29px 22px 21px;
$gplus_sprite_x = 112px;
$gplus_sprite_y = 0px;
$gplus_sprite_offset_x = -112px;
$gplus_sprite_offset_y = 0px;
$gplus_sprite_width = 29px;
$gplus_sprite_height = 29px;
$gplus_sprite = 112px 0px -112px 0px 29px 29px;
$b-interior__zoom_hover_sprite_x = 0px;
$b-interior__zoom_hover_sprite_y = 45px;
$b-interior__zoom_hover_sprite_offset_x = 0px;
$b-interior__zoom_hover_sprite_offset_y = -45px;
$b-interior__zoom_hover_sprite_width = 35px;
$b-interior__zoom_hover_sprite_height = 35px;
$b-interior__zoom_hover_sprite = 0px 45px 0px -45px 35px 35px;
$ok_sprite_x = 58px;
$ok_sprite_y = 80px;
$ok_sprite_offset_x = -58px;
$ok_sprite_offset_y = -80px;
$ok_sprite_width = 29px;
$ok_sprite_height = 29px;
$ok_sprite = 58px 80px -58px -80px 29px 29px;
$b-button_basket_sprite_x = 0px;
$b-button_basket_sprite_y = 109px;
$b-button_basket_sprite_offset_x = 0px;
$b-button_basket_sprite_offset_y = -109px;
$b-button_basket_sprite_width = 33px;
$b-button_basket_sprite_height = 28px;
$b-button_basket_sprite = 0px 109px 0px -109px 33px 28px;
$vk_sprite_x = 29px;
$vk_sprite_y = 80px;
$vk_sprite_offset_x = -29px;
$vk_sprite_offset_y = -80px;
$vk_sprite_width = 29px;
$vk_sprite_height = 29px;
$vk_sprite = 29px 80px -29px -80px 29px 29px;
$b-content__delivery-zakaz_sprite_x = 82px;
$b-content__delivery-zakaz_sprite_y = 59px;
$b-content__delivery-zakaz_sprite_offset_x = -82px;
$b-content__delivery-zakaz_sprite_offset_y = -59px;
$b-content__delivery-zakaz_sprite_width = 15px;
$b-content__delivery-zakaz_sprite_height = 19px;
$b-content__delivery-zakaz_sprite = 82px 59px -82px -59px 15px 19px;
$b-tips__play_hover_sprite_x = 45px;
$b-tips__play_hover_sprite_y = 0px;
$b-tips__play_hover_sprite_offset_x = -45px;
$b-tips__play_hover_sprite_offset_y = 0px;
$b-tips__play_hover_sprite_width = 37px;
$b-tips__play_hover_sprite_height = 37px;
$b-tips__play_hover_sprite = 45px 0px -45px 0px 37px 37px;
$b-card-payments__yamoney_sprite_x = 112px;
$b-card-payments__yamoney_sprite_y = 70px;
$b-card-payments__yamoney_sprite_offset_x = -112px;
$b-card-payments__yamoney_sprite_offset_y = -70px;
$b-card-payments__yamoney_sprite_width = 18px;
$b-card-payments__yamoney_sprite_height = 20px;
$b-card-payments__yamoney_sprite = 112px 70px -112px -70px 18px 20px;
$youtube_sprite_x = 0px;
$youtube_sprite_y = 80px;
$youtube_sprite_offset_x = 0px;
$youtube_sprite_offset_y = -80px;
$youtube_sprite_width = 29px;
$youtube_sprite_height = 29px;
$youtube_sprite = 0px 80px 0px -80px 29px 29px;
$b-copyright__jetstyle_sprite_x = 33px;
$b-copyright__jetstyle_sprite_y = 109px;
$b-copyright__jetstyle_sprite_offset_x = -33px;
$b-copyright__jetstyle_sprite_offset_y = -109px;
$b-copyright__jetstyle_sprite_width = 57px;
$b-copyright__jetstyle_sprite_height = 26px;
$b-copyright__jetstyle_sprite = 33px 109px -33px -109px 57px 26px;
$b-card-payments__visa_sprite_x = 141px;
$b-card-payments__visa_sprite_y = 0px;
$b-card-payments__visa_sprite_offset_x = -141px;
$b-card-payments__visa_sprite_offset_y = 0px;
$b-card-payments__visa_sprite_width = 41px;
$b-card-payments__visa_sprite_height = 14px;
$b-card-payments__visa_sprite = 141px 0px -141px 0px 41px 14px;
$fb_sprite_x = 82px;
$fb_sprite_y = 30px;
$fb_sprite_offset_x = -82px;
$fb_sprite_offset_y = -30px;
$fb_sprite_width = 30px;
$fb_sprite_height = 29px;
$fb_sprite = 82px 30px -82px -30px 30px 29px;
$b-card-payments__mc_sprite_x = 90px;
$b-card-payments__mc_sprite_y = 109px;
$b-card-payments__mc_sprite_offset_x = -90px;
$b-card-payments__mc_sprite_offset_y = -109px;
$b-card-payments__mc_sprite_width = 31px;
$b-card-payments__mc_sprite_height = 20px;
$b-card-payments__mc_sprite = 90px 109px -90px -109px 31px 20px;
$b-input_searchfield_sprite_x = 87px;
$b-input_searchfield_sprite_y = 80px;
$b-input_searchfield_sprite_offset_x = -87px;
$b-input_searchfield_sprite_offset_y = -80px;
$b-input_searchfield_sprite_width = 17px;
$b-input_searchfield_sprite_height = 17px;
$b-input_searchfield_sprite = 87px 80px -87px -80px 17px 17px;
$b-interior__zoom_sprite_x = 35px;
$b-interior__zoom_sprite_y = 45px;
$b-interior__zoom_sprite_offset_x = -35px;
$b-interior__zoom_sprite_offset_y = -45px;
$b-interior__zoom_sprite_width = 35px;
$b-interior__zoom_sprite_height = 35px;
$b-interior__zoom_sprite = 35px 45px -35px -45px 35px 35px;
$b-content__delivery-self_sprite_x = 112px;
$b-content__delivery-self_sprite_y = 50px;
$b-content__delivery-self_sprite_offset_x = -112px;
$b-content__delivery-self_sprite_offset_y = -50px;
$b-content__delivery-self_sprite_width = 18px;
$b-content__delivery-self_sprite_height = 20px;
$b-content__delivery-self_sprite = 112px 50px -112px -50px 18px 20px;
$b-tips__play_sprite_x = 0px;
$b-tips__play_sprite_y = 0px;
$b-tips__play_sprite_offset_x = 0px;
$b-tips__play_sprite_offset_y = 0px;
$b-tips__play_sprite_width = 45px;
$b-tips__play_sprite_height = 45px;
$b-tips__play_sprite = 0px 0px 0px 0px 45px 45px;
$twitter_sprite_x = 82px;
$twitter_sprite_y = 0px;
$twitter_sprite_offset_x = -82px;
$twitter_sprite_offset_y = 0px;
$twitter_sprite_width = 30px;
$twitter_sprite_height = 30px;
$twitter_sprite = 82px 0px -82px 0px 30px 30px;
$b-header__shopfinder_sprite_x = 112px;
$b-header__shopfinder_sprite_y = 90px;
$b-header__shopfinder_sprite_offset_x = -112px;
$b-header__shopfinder_sprite_offset_y = -90px;
$b-header__shopfinder_sprite_width = 18px;
$b-header__shopfinder_sprite_height = 19px;
$b-header__shopfinder_sprite = 112px 90px -112px -90px 18px 19px;

spriteX($sprite) {
  return $sprite[0];
}

spriteY($sprite) {
  return $sprite[1];
}

spriteOffsetX($sprite) {
  return $sprite[2];
}

spriteOffsetY($sprite) {
  return $sprite[3];
}

spriteWidth($sprite) {
  return $sprite[4];
}

spriteHeight($sprite) {
  return $sprite[5];
}

spriteBackground() {
  return '../publish/sprite.png';
}

sprite($sprite) {
  background-image: url(spriteBackground());
  background-position: spriteOffsetX($sprite) spriteOffsetY($sprite);
  width: spriteWidth($sprite);
  height: spriteHeight($sprite);
}
